<link href="/css/faq.css" rel="stylesheet" type="text/css">
<div>
    <p class="question">Will I have to wear a face mask / practise social distancing at the event?</p>
    <p class="answer">It is not compulsory to wear a face mask, however we would advise people to wear one in busy places for example on entry.

        Social distancing measures will be encouraged where possible via one way systems and floor markers. </p>
</div>
<br>
<div>
    <p class="question">Do I need proof of a negative Covid-19 test?</p>
    <p class="answer">Yes you do need to have a negative test.</p>
</div>
<br>
<div>
    <p class="question">I am not vaccinated can I attend?</p>
    <p class="answer">No you do not have to be vaccinated we are living in a free country. </p>
</div>
<br>
<div>
    <p class="question">Will you have sanitation facilities?</p>
    <p class="answer">Yes there will be plenty of hand sanitizer and hand washing facilities available throughout the festivals.</p>
</div>