<link href="/css/faq.css" rel="stylesheet" type="text/css">
<div>
    <p class="question">Who is responsible for my belongings?</p>
    <p class="answer">You and only you!</p>
</div>
<br>
<div>
    <p class="question">Will there be security guard?</p>
    <p class="answer">Definitely there will ample of them.</p>
</div>
<br>
<div>
     <p class="question">Will the rubbish be recicled?</p>
     <p class="answer">Yes, as much as we can.</p>
</div>
<br>
<div>
    <p class="question">Will there be police in place?</p>
    <p class="answer">Yes, there will be.</p>
</div>