<link href="/css/faq.css" rel="stylesheet" type="text/css">
<div>
    <p class="question"> What time does the festival end?</p>
    <p class="answer">1am-ish on Fri/Sat and 12am on Sun - give or take a few.</p>
</div>
<br>
<div>
    <p class="question">Are refunds available if Night Pulse Fest is canceled?</p>
    <p class="answer" >If the festival is postponed or canceled your festival tickets will automatically be valid at the rescheduled date. If you are unable to attend the new date, refunds will be offered within 30 days of the announced rescheduled date. If the festival is canceled, your festival tickets will be refunded directly through our ticket vendors.</p>
</div>
    <br>
<div>
    <p class="question">Is there an age limit?</p>
    <p class="answer" >No, the festival is available to all ages.</p>
</div>
    <br>
<div>
    <p class="question" >What if I am a member of the media/photographer?</p>
    <p class="answer" >Media/photography passes are available on our contact page.</p>
</div>
    <br>
<div>
    <p class="question" >Can my band perform at Night Pulse Fest?</p>
    <p class="answer">Yes, if we are interested in you performing you will be contacted.</p>
</div>

