<link href="/css/nav.css" rel="stylesheet" type="text/css">

<nav>
    <ul>
        <li  class="navbut"><a href="/">Home Page</a></li>
        <li  class="navbut"><a href="/result">Stages</a></li>
        <li  class="navbut"><a href="/contact">Contact Us</a></li>
        <li  class="navbut"><a href="/faq">FAQ</a></li>
        <li  class="navbut"><a href="/puzzle">Puzzle</a></li>
    </ul>
</nav>

