img{
    
    border-radius: 99%;
    max-width: 20vh;
    max-height: 20vh;
    padding: 3px;
    opacity: 0.5;
    filter:blur(4px);
    
}
img:hover{
    box-shadow:0 0 2px 1px rgba(229, 29, 72, 0.89) ;
    opacity: 1;
    filter: blur(0px);
}

#container{
    display: flex;
    flex-wrap: wrap;
}

#magic{
    padding: 2vh;
    
}
.nothing{
    display:none;
}
#guess{
    text-align: center;
    
}


